@import "@/styles/abstracts/variables";

@mixin greenButton {
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: $primary-white;
    background: $gradient-light-dark-green;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;

    &:hover {
        background: $logo-light-green;
    }
}

@mixin navItem {
    background-image: $gradient-light-dark-green;
    border: 2px solid $logo-blue;
    position: relative;
    width: 100%;
    color: $primary-white;
    min-height: 5rem;
}

@mixin lineHeader {
    &__header {
        color: $primary-white;
        font-size: 1.7em;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}

@mixin row {
    display: grid;
    gap: 2rem;
    grid-template-columns: 12rem 1.5fr;
}

@mixin window {
    background: $gradient-light-dark-blue;
	border-radius: 10px;
	box-shadow: 5px 20px 50px $primary-black;
    padding: 3rem 2rem 1.5rem;
}

@mixin form {
    @include lineHeader;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    &__avatar {
        margin-top: 2.5rem;
        color: $primary-white;
    }

    &__errorMessage {
        color: $primary-red;
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }

    &__errorSign {
        color: $primary-red;
    }
        
    &__input {
        width: 100%;
        background: $primary-white;
        justify-content: center;
        display: flex;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;

        &--error {
            border: 1px solid $primary-red;
        }
    }

    &__table {
        display: grid;
        gap: 2rem;
        grid-template-columns: 12rem 1.5fr;
        color: $primary-white;
        font-size: $label-font;
        margin-top: 2.5rem;
        align-items: center;

        label {
            display: flex;
            gap: 0.5rem;
        }
    }
    
    &__radiogroup {
        width: 60%;
        display: flex;
        gap: 3rem;

    }

    &__radiogroup > * {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    &__rowInfo {
        grid-column: 1 / -1;
        textarea {
            width: 100%;
            margin-top: 2.5rem;
        }
    }

    &__buttonContainer {
        width: 25rem;
        display: flex;
        gap: 1rem;
    }

    &__checkboxContainer {
        display: grid;
        align-items: center;
        justify-items: center;

        &--error {
            > * {
                outline: 1px solid $primary-red;
            }
        }
    }

    @media (min-width: 1000px) { 
        grid-template-columns: 1fr 1fr;

        &__table {
            grid-template-columns: 12rem 1.5fr;
        }

        &__radiogroup {
            height: 35px;
    
        }

        &__input {
            width: 60%;
        }
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}