// COLORS
$logo-blue: #4794d4;
$logo-green: #5a9628;
$logo-light-green: #7ac53c;

$primary-white: #FFFFFF;
$primary-black: #000000;
$transparent-black: rgba(0, 0, 0, 0.5);
$primary-silver: #aaa1a1;
$primary-red: red;

$dark-blue: #316997;

// GRADIENTS
$gradient-light-dark-blue: linear-gradient($logo-blue, $dark-blue);
$gradient-white-silver: linear-gradient($primary-white, silver);;
$gradient-light-dark-green: linear-gradient($logo-light-green, $logo-green);

// FONT
$default-font-size: 1.6rem;

// WIDTH
$management-border-width: 1rem;
$management-image-max-wdith: 20rem;