@import "@/styles/abstracts/variables";

.wrapper {
    .tabs {
        position: relative;
        min-height: 14.75rem;
        background: $gradient-light-dark-blue;
        display: flex
      }
      .tabs::before,
      .tabs::after {
        content: "";
        display: table;
      }
      .tabs::after {
        clear: both;
      }
      .tab {
        width: 100%;
      }
      
}