@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: $transparent-black;
    display: flex;
}