@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/animations";
@import "@/styles/abstracts/mixins";

.button {
    @include greenButton;
    &:focus {
        outline: none;
        animation: pulsate 1s;
        background: $logo-light-green;
    }
}