@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/variables";

.modalWrapper {
    @include window;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 30rem;

    img {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }

    .gridWrapper {
        margin: 2rem 1rem 0.5rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;

        p {
            font-size: $label-font;
            color: $primary-white;
        }

        :nth-child(n) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        
    }
}

.form {
    @include form;
}   