@import "@/styles/abstracts/variables";

.auth {
	background: $gradient-light-dark-blue;
	border-radius: 10px;
	box-shadow: 5px 20px 50px $primary-black;
    padding: 3rem 2rem 1.5rem;

    &__header {
        color: $primary-white;
        font-size: 1.7em;
        margin-bottom: 1rem;
        font-weight: bold;
    }
        
    &__input {
        width: 100%;
        background: $primary-white;
        justify-content: center;
        display: flex;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        &__table {
            display: grid;
            gap: 2rem;
            grid-template-columns: rem 1.5fr;
            color: $primary-white;
            font-size: 1.3rem;
            margin-top: 2.5rem;
            align-items: center;
        }
    }

    &__radiogroup {
        width: 60%;
        display: flex;
        gap: 3rem;

    }

    &__radiogroup > * {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    &__rowInfo {
        grid-column: 1 / -1;
    }

    &__buttonContainer {
        width: 25rem;
    }
}

@media (min-width: 1000px) {

    .auth {
        &__form {
            grid-template-columns: 1fr 1fr;

            &__table {
                grid-template-columns: 12rem 1.5fr;
            }
        }

        &__input {
            width: 60%;
        }
    }
}